<!DOCTYPE html>
<html lang="{{ site.lang }}" prefix="og: http://ogp.me">
  <head>
  <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
<!--
    <link rel="shortcut icon" type="image/png" href="favicon.png" />

    <link type='text/css'
          rel="stylesheet"
          href="assets/css/bootstrap.min.css" />

    <link type='text/css'
          rel="stylesheet"
          href="assets/fonts/stylesheet.css" />

    <link type='text/css'
          rel="stylesheet"
          href="assets/css/custom.css" />

    <link rel="alternate"
          type="application/atom+xml"
          title="En la Marea"
          href="atom.xml" />
-->

    <link type='text/css'
          rel="stylesheet"
          href="assets/css/bootstrap.min.css" />

    <link type='text/css'
          rel="stylesheet"
          href="assets/fonts/stylesheet.css" />

    <link type='text/css'
          rel="stylesheet"
          href="assets/css/custom.css" />

    {% include feed.html %}
    {% include ogp.html %}
    {% include opds.html %}
  </head>
  <body>
    <div class="container">
      {{content}}
    </div>
  </body>
</html>
